<a href="https://colab.research.google.com/github/santhimaddipudi/Python-work/blob/master/pyprog.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

##**Count no.of vowles**

In [ ]:
vowel=['a','e','i','o','u','A','E','I','O','U']
sen=input("Enter string:")
count=0
for i in sen:
  if i in vowel:
    count+=1
print("Number of vowels in string is:",count)

Enter string:my name is santhi
Number of vowels in string is: 5

##**Counting the Number of Occurances of a Character in a String**

In [ ]:
sen=input("Enter string:")
find=input("Enter character to find:")
count=0
for letter in sen:
  if letter==find:
    count+=1
print(find,"occurs",count,"times")

Enter string:my world is beautiful
Enter character to find:i
i occurs 2 times

#writing febnocci series

In [ ]:
fib = [0,1]
# Range starts from 0 by default
for i in range(8):
    fib.append(fib[-1] + fib[-2])

# Converting the list of integers to string
print(', '.join(str(e) for e in fib))

0, 1, 1, 2, 3, 5, 8, 13, 21, 34

#Finding the Maximum Number in a List

In [ ]:
numberList = [15, 85, 35, 89, 125]
maxNum = numberList[0]
for num in numberList:
    if maxNum < num:
        maxNum = num
print(maxNum)

125

#find middle element

In [ ]:
numList = [1, 2, 3, 4, 5]
midElement = int((len(numList)/2))

print(numList[midElement])

6

#convert list to string

In [ ]:
lst = ["P", "Y", "T", "H", "O", "N"]
print(type(lst))
string = ''.join(lst)

print(string)
print(type(string))

<class 'list'>
PYTHON
<class 'str'>

adding two list elements

In [ ]:
lst1 = [1, 2, 3,6]
lst2 = [4, 5, 6,0]

res_lst = []
for i in range(0, len(lst1)):
    res_lst.append(lst1[i] + lst2[i])
print(res_lst)

[5, 7, 9, 6]

#Comparing Two Strings for Anagrams

In [ ]:
str1 = "Listen"
str2 = "Silent"

str1 = list(str1.upper())
str2 = list(str2.upper())
str1.sort(), str2.sort()

if(str1 == str2):
    print("True")
else:
    print("False")

['E', 'I', 'L', 'N', 'S', 'T']
['E', 'I', 'L', 'N', 'S', 'T']
True

#Checking for Palindrome Using Extended Slicing Technique

In [ ]:
str1 = "Kayak".lower()
str2 = "kayak".lower()
print(str2[::-1])
if(str1 == str2[::-1]):
    print("True")
else:
    print("False")

kayak
True

#count white spaces in string

In [ ]:
string = "P r ogramm in g "
print(string.count(' '))

5

In [ ]:
# Importing Regular Expressions Library
import re

name = 'Python is 123 boost'

digitCount = re.sub("[^0-9]", "", name)
letterCount = re.sub("[^a-zA-Z]", "", name)
spaceCount = re.findall("[ \n]", name)

print(len(digitCount))
print(len(letterCount))
print(len(spaceCount))

3
13
3

In [ ]:
# Importing Regular Expressions Library
import re
spChar = "!@#$%^&*)sanmad"

count = re.sub('[\w]+', '', spChar)
print(len(count))

9

In [ ]:
text=input("Enter string:")
print(text.replace(" ",""))

Enetr string:my name is san
mynameissan

#Building a Pyramid in Python

In [ ]:
floors = 5
h = 2*floors-1
for i in range(1, 2*floors, 2):
    print('{:^{}}'.format('*'*i, h))

    *
   ***
  *****
 *******
*********

find all such numbers which are divisible by 7 but are not a multiple of 5

In [ ]:
l=[]
for i in range(2, 72):
    if (i%7==0) and (i%5!=0):
        l.append(str(i))

print(','.join(l))

7,14,21,28,42,49,56,63

Write a program which can compute the factorial of a given numbers

In [ ]:
def fact(x):
    if x == 0:
        return 1
    return x * fact(x - 1)

x=int(input("enter number:"))
print(fact(x))

enter number:6
720

In [ ]:
from typing import Dict
x=int(input("enter number:"))
res=dict()
for i in range(1,x+1):
  res[i]=i*i
print(res)

enter number:5
{1: 1, 2: 4, 3: 9, 4: 16, 5: 25}

In [ ]:
values=input("enter comma seperated numbers:")
l=values.split(",")
t=tuple(l)
print(l)
print(t)

enter comma seperated numbers:1,2,3,4,6
['1', '2', '3', '4', '6']
('1', '2', '3', '4', '6')

#Define a class which has at least two methods

In [ ]:
class InputOutString(object):
    def __init__(self):
        self.s = ""

    def getString(self):
        self.s = input("enter string value:")

    def printString(self):
        print(self.s.upper())

strObj = InputOutString()
strObj.getString()
strObj.printString()

enter string value:santhi is good
SANTHI IS GOOD

In [ ]:
lines = []
while True:
    s = input()
    if s:
        lines.append(s.upper())
    else:
        break;

for sentence in lines:
    print(sentence)

my name
my son

MY NAME
MY SON

In [ ]:
s = input()
words = [word for word in s.split(" ")]
print(" ".join(sorted(list(set(words)))))

hello my dev hello
dev hello my

#check string is palindrome

In [3]:
def is_palindrome(string):
    reversed_string = string[::-1]
    return string == reversed_string

# Test the function
#word = "madam"
word=input("enter string:")
if is_palindrome(word):
    print(f"{word} is a palindrome")
else:
    print(f"{word} is not a palindrome")

enter string:madam
madam is a palindrome

#Find largest elment in a list

In [4]:
def find_largest(numbers):
    largest = numbers[0]
    for num in numbers:
        if num > largest:
            largest = num
    return largest

# Test the function
nums = [10, 5, 8, 20, 3]
largest_num = find_largest(nums)
print(f"The largest number is {largest_num}")

The largest number is 20

#count the frequency of each element in a list

In [5]:
def count_frequency(numbers):
    frequency = {}
    for num in numbers:
        if num in frequency:
            frequency[num] += 1
        else:
            frequency[num] = 1
    return frequency

# Test the function
nums = [1, 2, 3, 2, 1, 3, 2, 4, 5, 4]
frequency_count = count_frequency(nums)
print(frequency_count)

{1: 2, 2: 3, 3: 2, 4: 2, 5: 1}

#program to check if a number is prime

In [6]:
def is_prime(number):
    print(int(number**0.5))
    if number < 2:
        return False
    for i in range(2, int(number**0.5) + 1):
        if number % i == 0:
            return False
    return True

# Test the function
num = 17
if is_prime(num):
    print(f"{num} is a prime number")
else:
    print(f"{num} is not a prime number")

4
17 is a prime number

#Common elements between two lists

In [7]:
def find_common_elements(list1, list2):
    common_elements = []
    for item in list1:
        if item in list2:
            common_elements.append(item)
    return common_elements

# Test the function
list_a = [1, 2, 3, 4, 5]
list_b = [4, 5, 6, 7, 8]
common = find_common_elements(list_a, list_b)
print(common)

[4, 5]

#sort list using bubble sort

In [9]:
def bubble_sort(elements):
    n = len(elements)
    for i in range(n - 1):
        for j in range(n - i - 1):
            if elements[j] > elements[j + 1]:
                elements[j], elements[j + 1] = elements[j + 1], elements[j]

# Test the function
nums = [5, 2, 8, 1, 9,4]
bubble_sort(nums)
print(nums)

[1, 2, 4, 5, 8, 9]

#find second largest number in a list

In [ ]:
def find_second_largest(numbers):
    largest = float('-inf')
    second_largest = float('-inf')
    for num in numbers:
        if num > largest:
            second_largest = largest
            largest = num
        elif num > second_largest and num != largest:
            second_largest = num
    return second_largest

# Test the function
nums = [10, 5, 8, 20, 3]
second_largest_num = find_second_largest(nums)
print(f"The second largest number is {second_largest_num}")

#remove duplicates in a list

In [12]:
def remove_duplicates(numbers):
    unique_numbers = []
    for num in numbers:
        if num not in unique_numbers:
            unique_numbers.append(num)
    return unique_numbers

# Test the function
nums = [1,1, 2, 3, 2, 1, 3, 2, 4, 5,8, 4]
unique_nums = remove_duplicates(nums)
print(unique_nums)

[1, 2, 3, 4, 5, 8]

list comprehension using ternary

In [15]:
num=[1,2,3,4,5,6,7,9]
["even" if ni%2==0 else "odd" for ni in num]

['odd', 'even', 'odd', 'even', 'odd', 'even', 'odd', 'odd']

case /swicth implemented using dict

In [21]:
def get_day_name(day_number):
    switcher1 = {
        1: "Monday",
        2: "Tuesday",
        3: "Wednesday",
        4: "Thursday",
        5: "Friday",
        6: "Saturday",
        7: "Sunday"
    }
    return switcher1.get(day_number, "Invalid day number")

day_number = int(input("Enter a day number: "))
day_name = get_day_name(day_number)
print(day_name)

Enter a day number: 8
Invalid day number

match statement,
which is Pythonâ€™s answer to the switch-case structure

In [24]:
def get_day_name(day_number):
 match day_number:
  case 1:
   return "Monday"
  case 2:
   return "Tuesday"
  case 3:
   return "Wednesday"
  case 4:
   return "Thursday"
  case 5:
   return "Friday"
  case 6:
   return "Saturday"
  case 7:
   return "Sunday"
  case _:#for default case
   return "Invalid day number"
day_number = int(input("Enter a day number: "))
day_name = get_day_name(day_number)
print(day_name)

Enter a day number: 6
Saturday

generator vs list comprehension:The generator yields one item at a time and generates item only when in demand. Whereas, in a list comprehension, Python reserves memory for the whole list. Thus we can say that the generator expressions are memory efficient than the lists.

In [30]:
#List comprehension
list_comprehension = [i for i in range(10) if i % 2 == 0]
print(list_comprehension)
# Generator Expression
generator_expression = (i for i in range(10) if i % 2 == 0)
print(generator_expression)
for i in generator_expression:
    print(i,end=" ")

[0, 2, 4, 6, 8]
<generator object <genexpr> at 0x7c6235da0040>
0 2 4 6 8

#named tuples

In [40]:
from collections import namedtuple
Person=namedtuple('Person','name age gender city')
person1 = Person('srujan', 41,'male','hyd')
person2 = Person('santhi', 38,'female','rpt')
print(person1.name)
print(person2.name)
print(person1)
print(person2[0],':', person2[2])

srujan
santhi
Person(name='srujan', age=41, gender='male', city='hyd')
santhi : female

In [46]:
fruits = ['Apple', 'Orange']
fruits.append('banana')
print(fruits)
fruits.insert(1,'kiwi')
print(fruits)
fruits.pop()
print(fruits)
fruits[0]='kiwi'
print(fruits)

['Apple', 'Orange', 'banana']
['Apple', 'kiwi', 'Orange', 'banana']
['Apple', 'kiwi', 'Orange']
['kiwi', 'kiwi', 'Orange']

sets--get common and uncommon letters in words

In [54]:
s1 = set('hello')
s2 = set('world')
print(s1 & s2)
print(s1.intersection(s2))
print(list(set(s1.intersection(s2))))#common
print(list(set(s1.symmetric_difference(s2))))#not common
print(s1-s2)
print(s2-s1)

{'o', 'l'}
{'o', 'l'}
['o', 'l']
['h', 'e', 'd', 'w', 'r']
{'h', 'e'}
{'w', 'r', 'd'}

dict:shallow and deepcopy

In [56]:
import copy
fruits = ['apple', 'banana']
fruits_shallow=fruits.copy()#shallow copy
print(fruits[0] is fruits[0])
fruits_deep=copy.deepcopy(fruits)#deep copy
print(fruits_deep[0] is fruits[0])

True
True

Set operations

In [60]:
 s = {1, 2, 3}
 s1={3,4,1,5,2}
 print(s)
 s.add(4)
 print(s)
 print(s.union(s1))
 print(s.intersection(s1))
 print(s.difference(s1))
 print(s.symmetric_difference(s1))
 print(s.issubset(s1))

{1, 2, 3}
{1, 2, 3, 4}
{1, 2, 3, 4, 5}
{1, 2, 3, 4}
set()
{5}
True

 #built-in functions for working with sequences

In [79]:
l1=[1, 2, 3]
l2='hello'
print(len(l1))
print(len(l2))
print(min(l1))
print(max(l2))
print(sorted(l2))
print(list(reversed(l1)))
print(reversed(l2))

3
5
1
o
['e', 'h', 'l', 'l', 'o']
[3, 2, 1]
<reversed object at 0x7c6235f7d450>

'2l'

In [83]:
fruits = ['orange', 'apple', 'banana']
print(fruits)
new_fruits=sorted(fruits)
print(new_fruits)

['orange', 'apple', 'banana']
['apple', 'banana', 'orange']

#regular expr

In [88]:
import re
print(re.search('cat','cat in the box'))
print(re.findall('cat','cat in the box cat'))
print(re.search('\d{4}-\d{2}-\d{2}', '2019-12-25'))

<re.Match object; span=(0, 3), match='cat'>
['cat', 'cat']
<re.Match object; span=(0, 10), match='2019-12-25'>

#functions

In [97]:
def add(x,y=5):
  return(x+y)
print(add(12))

17

How Would You Define a Function That Defaults One of Its Arguments to
a List

In [103]:
def add_item(item, items=[]):
  items.append(item)
  return items
print(add_item('apple'))
print(add_item('banana'))
print(add_item.__defaults__)
def add_item1(item, items=None):
  if(items is None):
    items=[]
  items.append(item)
  return items
print(add_item1('apple'))
print(add_item1('banana'))
print(add_item1.__defaults__)

['apple']
['apple', 'banana']
(['apple', 'banana'],)
['apple']
['banana']
(None,)

function that accepts an arbitrary number of positional arguments

In [105]:
def summmation(*nums):
  total=0
  for num in nums:
    total+=num
  return total
print(summmation(1,2,3,10))

16

function that accepts an arbitrary number of keyword arguments

In [112]:
def print_kwargs(**kwargs):
  for key, value in kwargs.items():
    print(f"{key}: {value}")
print_kwargs(name="Alice", age=30, city="New York", country="USA")

name: Alice
age: 30
city: New York
country: USA

In [118]:
#You can define keyword-only arguments in a function by using * in the function definition. All parameters after * become keyword-only
def increment(number, *, increment_by=1):
  return number + increment_by
print(increment(10))
print(increment(13, increment_by=5))
#Here, x is a positional-only argument, while y can be passed by position or keyword.
def add(x, /, y):
 return x + y
print(add(10, 20))
print(add(10, y=2))

11
18
30
12

In [123]:
#lambda with map
nums = [2, 4, 6, 8, 10,13,15]
doubled = map(lambda x: x * 2, nums)
print(list(doubled))
#lambda with filter
filtered = filter(lambda x: x % 2==0, nums)
print(list(filtered))
#lambda with sorted
students = [('john', 'A', 15), ('jane', 'C', 12), ('dave', 'B', 10)]
sorted_students = sorted(students, key=lambda x: x[1])
print(sorted_students)

[4, 8, 12, 16, 20, 26, 30]
[2, 4, 6, 8, 10]
[('john', 'A', 15), ('dave', 'B', 10), ('jane', 'C', 12)]