<a href="https://colab.research.google.com/github/santhimaddipudi/Python-work/blob/master/Python_polars.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import pandas as pd
df=pd.read_csv("/content/sample_data/Iris.csv")
df_filtered = df[df["SepalLengthCm"] > 5].groupby("Species").agg('sum')  # Filter rows where 'SepalLengthCm' is greater than 5
df_filtered.head()

,Id,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm
Species,,,,,
Iris-setosa,564,116.9,81.7,33.2,6.1
Iris-versicolor,3562,281.9,131.8,202.9,63.3
Iris-virginica,6168,324.5,146.2,273.1,99.6

In [3]:
import polars as pl
pl.__version__

'1.21.0'

In [ ]:
#operations that are supported on materialized dataframes but not on lazy dataframes.
df_ops = set(x for x in dir(pl.DataFrame()) if not x.startswith('_'))
lazy_ops = set(x for x in dir(pl.LazyFrame()) if not x.startswith('_'))
print(sorted(df_ops - lazy_ops))

['apply', 'corr', 'describe', 'drop_in_place', 'equals', 'estimated_size', 'extend', 'find_idx_by_name', 'flags', 'fold', 'frame_equal', 'get_column', 'get_column_index', 'get_columns', 'glimpse', 'hash_rows', 'height', 'hstack', 'insert_at_idx', 'insert_column', 'is_duplicated', 'is_empty', 'is_unique', 'item', 'iter_columns', 'iter_rows', 'iter_slices', 'map_rows', 'max_horizontal', 'mean_horizontal', 'min_horizontal', 'n_chunks', 'n_unique', 'partition_by', 'pivot', 'product', 'rechunk', 'replace', 'replace_at_idx', 'replace_column', 'row', 'rows', 'rows_by_key', 'sample', 'shape', 'shrink_to_fit', 'sum_horizontal', 'to_arrow', 'to_dict', 'to_dicts', 'to_dummies', 'to_init_repr', 'to_numpy', 'to_pandas', 'to_series', 'to_struct', 'transpose', 'unstack', 'upsample', 'vstack', 'write_avro', 'write_csv', 'write_database', 'write_delta', 'write_excel', 'write_ipc', 'write_ipc_stream', 'write_json', 'write_ndjson', 'write_parquet']

In [ ]:
import polars as pl
#lazy dataframe
q = (
    pl.scan_csv("/content/sample_data/Iris.csv")
    .filter(pl.col("SepalLengthCm") > 5)
    .group_by("Species")
    .agg(pl.all().sum())
)

df = q.collect()

df

shape: (3, 6)
┌─────────────────┬──────┬───────────────┬──────────────┬───────────────┬──────────────┐
│ Species         ┆ Id   ┆ SepalLengthCm ┆ SepalWidthCm ┆ PetalLengthCm ┆ PetalWidthCm │
│ ---             ┆ ---  ┆ ---           ┆ ---          ┆ ---           ┆ ---          │
│ str             ┆ i64  ┆ f64           ┆ f64          ┆ f64           ┆ f64          │
╞═════════════════╪══════╪═══════════════╪══════════════╪═══════════════╪══════════════╡
│ Iris-virginica  ┆ 6168 ┆ 324.5         ┆ 146.2        ┆ 273.1         ┆ 99.6         │
│ Iris-setosa     ┆ 564  ┆ 116.9         ┆ 81.7         ┆ 33.2          ┆ 6.1          │
│ Iris-versicolor ┆ 3562 ┆ 281.9         ┆ 131.8        ┆ 202.9         ┆ 63.3         │
└─────────────────┴──────┴───────────────┴──────────────┴───────────────┴──────────────┘

In [4]:
#for lazy dataframe it wont show the data
df1=pl.scan_csv("/content/sample_data/Iris.csv").filter(pl.col("SepalLengthCm") > 5)
print(df1)

naive plan: (run LazyFrame.explain(optimized=True) to see the optimized plan)

FILTER [(col("SepalLengthCm")) > (5.0)] FROM
  Csv SCAN [/content/sample_data/Iris.csv]
  PROJECT */6 COLUMNS

In [7]:
col=pl.col("SepalLengthCm")
col_ops = set(x for x in dir(col) if not x.startswith('_'))
print(col_ops)

{'shuffle', 'truediv', 'forward_fill', 'sample', 'rolling_min_by', 'replace_strict', 'arr', 'slice', 'arg_true', 'cut', 'entropy', 'ewm_mean', 'extend_constant', 'over', 'is_null', 'ewm_var', 'dt', 'map_batches', 'mod', 'reshape', 'shift', 'sin', 'explode', 'floordiv', 'rolling_std', 'log', 'rolling_var_by', 'rolling_sum', 'is_unique', 'rolling_var', 'tanh', 'not_', 'index_of', 'gather', 'fill_null', 'from_json', 'bottom_k', 'where', 'is_not_null', 'le', 'str', 'gather_every', 'std', 'interpolate_by', 'get', 'tan', 'diff', 'abs', 'cast', 'sort', 'top_k_by', 'repeat_by', 'inspect', 'rolling_skew', 'cum_max', 'rolling', 'is_finite', 'is_not_nan', 'len', 'meta', 'nan_max', 'struct', 'rolling_quantile_by', 'mul', 'bitwise_or', 'log1p', 'bitwise_leading_zeros', 'ewm_std', 'has_nulls', 'add', 'value_counts', 'cum_prod', 'floor', 'replace', 'n_unique', 'drop_nans', 'mode', 'rolling_sum_by', 'rolling_max', 'cum_min', 'rle_id', 'kurtosis', 'arctanh', 'cos', 'log10', 'product', 'search_sorted', 'skew', 'rolling_median', 'cot', 'first', 'implode', 'bottom_k_by', 'is_nan', 'arctan', 'any', 'peak_max', 'neg', 'top_k', 'sinh', 'backward_fill', 'is_between', 'var', 'sqrt', 'round', 'approx_n_unique', 'cat', 'or_', 'bitwise_count_ones', 'exp', 'shrink_dtype', 'rolling_mean', 'is_first_distinct', 'dot', 'lower_bound', 'gt', 'eq', 'arg_sort', 'fill_nan', 'rle', 'tail', 'cosh', 'alias', 'sum', 'pow', 'is_in', 'arccosh', 'sort_by', 'hash', 'agg_groups', 'cum_sum', 'limit', 'lt', 'exclude', 'degrees', 'pipe', 'arg_min', 'last', 'arccos', 'max', 'to_physical', 'rolling_min', 'sub', 'ge', 'flatten', 'rolling_map', 'cbrt', 'register_plugin', 'round_sig_figs', 'is_infinite', 'unique_counts', 'arg_unique', 'is_last_distinct', 'list', 'name', 'qcut', 'unique', 'rank', 'xor', 'ewm_mean_by', 'min', 'rolling_max_by', 'head', 'arg_max', 'rolling_median_by', 'interpolate', 'mean', 'pct_change', 'arcsinh', 'count', 'arcsin', 'quantile', 'reinterpret', 'map_elements', 'cum_count', 'ceil', 'set_sorted', 'rolling_quantile', 'rechunk', 'drop_nulls', 'ne_missing', 'upper_bound', 'deserialize', 'hist', 'cumulative_eval', 'nan_min', 'bitwise_leading_ones', 'null_count', 'sign', 'bitwise_trailing_zeros', 'reverse', 'all', 'median', 'rolling_mean_by', 'rolling_std_by', 'append', 'bitwise_and', 'eq_missing', 'is_duplicated', 'bitwise_xor', 'clip', 'peak_min', 'and_', 'ne', 'bin', 'radians', 'bitwise_trailing_ones', 'bitwise_count_zeros', 'filter'}

In [ ]:
df=pd.read_csv("/content/sample_data/vehicles.csv")
print(df)

In [16]:
lazy = pl.scan_csv("/content/sample_data/vehicles.csv", null_values=['NA'])
print(lazy)
lazy.explain(optimized=True)

naive plan: (run LazyFrame.explain(optimized=True) to see the optimized plan)

Csv SCAN [/content/sample_data/vehicles.csv]
PROJECT */84 COLUMNS

'Csv SCAN [/content/sample_data/vehicles.csv]\nPROJECT */84 COLUMNS'

In [18]:
print(lazy
 .filter((pl.col('year') >= 1990) & (pl.col('year') < 2000))
 .select(['year','make'])
 .explain()
)

simple π 2/2 ["year", "make"]
  Csv SCAN [/content/sample_data/vehicles.csv]
  PROJECT 2/84 COLUMNS
  SELECTION: [([(col("year")) < (2000)]) & ([(col("year")) >= (1990)])]

In [19]:
print(df.dtypes)

barrels08     float64
barrelsA08    float64
charge120     float64
charge240     float64
city08          int64
               ...
modifiedOn     object
startStop      object
phevCity        int64
phevHwy         int64
phevComb        int64
Length: 84, dtype: object

In [ ]:
print(df.info(verbose=True))

In [29]:
cols = ['year', 'make', 'model', 'displ', 'cylinders', 'trany', 'drive', 'VClass', 'fuelType', 'barrels08', 'city08', 'highway08','createdOn']
df_polars = pl.from_pandas(df)
print(df_polars.select(cols))

shape: (48_581, 13)
┌──────┬────────────┬────────────────┬───────┬───┬───────────┬────────┬───────────┬────────────────┐
│ year ┆ make       ┆ model          ┆ displ ┆ … ┆ barrels08 ┆ city08 ┆ highway08 ┆ createdOn      │
│ ---  ┆ ---        ┆ ---            ┆ ---   ┆   ┆ ---       ┆ ---    ┆ ---       ┆ ---            │
│ i64  ┆ str        ┆ str            ┆ f64   ┆   ┆ f64       ┆ i64    ┆ i64       ┆ str            │
╞══════╪════════════╪════════════════╪═══════╪═══╪═══════════╪════════╪═══════════╪════════════════╡
│ 1985 ┆ Alfa Romeo ┆ Spider Veloce  ┆ 2.0   ┆ … ┆ 14.167143 ┆ 19     ┆ 25        ┆ Tue Jan 01     │
│      ┆            ┆ 2000           ┆       ┆   ┆           ┆        ┆           ┆ 00:00:00 EST   │
│      ┆            ┆                ┆       ┆   ┆           ┆        ┆           ┆ 2013           │
│ 1985 ┆ Ferrari    ┆ Testarossa     ┆ 4.9   ┆ … ┆ 27.046364 ┆ 9      ┆ 14        ┆ Tue Jan 01     │
│      ┆            ┆                ┆       ┆   ┆           ┆        ┆           ┆ 00:00:00 EST   │
│      ┆            ┆                ┆       ┆   ┆           ┆        ┆           ┆ 2013           │
│ 1985 ┆ Dodge      ┆ Charger        ┆ 2.2   ┆ … ┆ 11.018889 ┆ 23     ┆ 33        ┆ Tue Jan 01     │
│      ┆            ┆                ┆       ┆   ┆           ┆        ┆           ┆ 00:00:00 EST   │
│      ┆            ┆                ┆       ┆   ┆           ┆        ┆           ┆ 2013           │
│ 1985 ┆ Dodge      ┆ B150/B250      ┆ 5.2   ┆ … ┆ 27.046364 ┆ 10     ┆ 12        ┆ Tue Jan 01     │
│      ┆            ┆ Wagon 2WD      ┆       ┆   ┆           ┆        ┆           ┆ 00:00:00 EST   │
│      ┆            ┆                ┆       ┆   ┆           ┆        ┆           ┆ 2013           │
│ 1993 ┆ Subaru     ┆ Legacy AWD     ┆ 2.2   ┆ … ┆ 15.658421 ┆ 17     ┆ 23        ┆ Tue Jan 01     │
│      ┆            ┆ Turbo          ┆       ┆   ┆           ┆        ┆           ┆ 00:00:00 EST   │
│      ┆            ┆                ┆       ┆   ┆           ┆        ┆           ┆ 2013           │
│ …    ┆ …          ┆ …              ┆ …     ┆ … ┆ …         ┆ …      ┆ …         ┆ …              │
│ 1993 ┆ Subaru     ┆ Legacy         ┆ 2.2   ┆ … ┆ 13.523182 ┆ 19     ┆ 26        ┆ Tue Jan 01     │
│      ┆            ┆                ┆       ┆   ┆           ┆        ┆           ┆ 00:00:00 EST   │
│      ┆            ┆                ┆       ┆   ┆           ┆        ┆           ┆ 2013           │
│ 1993 ┆ Subaru     ┆ Legacy         ┆ 2.2   ┆ … ┆ 12.935217 ┆ 20     ┆ 28        ┆ Tue Jan 01     │
│      ┆            ┆                ┆       ┆   ┆           ┆        ┆           ┆ 00:00:00 EST   │
│      ┆            ┆                ┆       ┆   ┆           ┆        ┆           ┆ 2013           │
│ 1993 ┆ Subaru     ┆ Legacy AWD     ┆ 2.2   ┆ … ┆ 14.167143 ┆ 18     ┆ 24        ┆ Tue Jan 01     │
│      ┆            ┆                ┆       ┆   ┆           ┆        ┆           ┆ 00:00:00 EST   │
│      ┆            ┆                ┆       ┆   ┆           ┆        ┆           ┆ 2013           │
│ 1993 ┆ Subaru     ┆ Legacy AWD     ┆ 2.2   ┆ … ┆ 14.167143 ┆ 18     ┆ 24        ┆ Tue Jan 01     │
│      ┆            ┆                ┆       ┆   ┆           ┆        ┆           ┆ 00:00:00 EST   │
│      ┆            ┆                ┆       ┆   ┆           ┆        ┆           ┆ 2013           │
│ 1993 ┆ Subaru     ┆ Legacy AWD     ┆ 2.2   ┆ … ┆ 16.528333 ┆ 16     ┆ 21        ┆ Tue Jan 01     │
│      ┆            ┆ Turbo          ┆       ┆   ┆           ┆        ┆           ┆ 00:00:00 EST   │
│      ┆            ┆                ┆       ┆   ┆           ┆        ┆           ┆ 2013           │
└──────┴────────────┴────────────────┴───────┴───┴───────────┴────────┴───────────┴────────────────┘

In [ ]:
print(df_polars.select(pl.col(cols)))

In [31]:
print(df_polars
 .select(pl.col(cols))
 .select(pl.col(pl.Int64))
 .describe())

shape: (9, 4)
┌────────────┬─────────────┬───────────┬───────────┐
│ statistic  ┆ year        ┆ city08    ┆ highway08 │
│ ---        ┆ ---         ┆ ---       ┆ ---       │
│ str        ┆ f64         ┆ f64       ┆ f64       │
╞════════════╪═════════════╪═══════════╪═══════════╡
│ count      ┆ 48581.0     ┆ 48581.0   ┆ 48581.0   │
│ null_count ┆ 0.0         ┆ 0.0       ┆ 0.0       │
│ mean       ┆ 2004.752413 ┆ 20.131615 ┆ 25.970256 │
│ std        ┆ 12.758499   ┆ 13.198585 ┆ 11.439295 │
│ min        ┆ 1984.0      ┆ 6.0       ┆ 9.0       │
│ 25%        ┆ 1993.0      ┆ 15.0      ┆ 20.0      │
│ 50%        ┆ 2006.0      ┆ 18.0      ┆ 24.0      │
│ 75%        ┆ 2016.0      ┆ 21.0      ┆ 28.0      │
│ max        ┆ 2026.0      ┆ 153.0     ┆ 142.0     │
└────────────┴─────────────┴───────────┴───────────┘

In [ ]:
#When the with_columns context runs, Polars will read the data from the year column and cast it to a 16-bit integer and cast it to a 16-bit integer
print(df_polars
 .select(pl.col(cols))
 .with_columns(pl.col('year').cast(pl.Int16),
               pl.col('cylinders').cast(pl.UInt8),
               pl.col('highway08').cast(pl.UInt8),
               pl.col('city08').cast(pl.UInt8)))

In [37]:
#Polars includes a column expression to shrink numeric columns, the shrink_dtype method
print(df_polars.select(pl.col(cols).shrink_dtype()))

shape: (48_581, 13)
┌──────┬────────────┬────────────────┬───────┬───┬───────────┬────────┬───────────┬────────────────┐
│ year ┆ make       ┆ model          ┆ displ ┆ … ┆ barrels08 ┆ city08 ┆ highway08 ┆ createdOn      │
│ ---  ┆ ---        ┆ ---            ┆ ---   ┆   ┆ ---       ┆ ---    ┆ ---       ┆ ---            │
│ i16  ┆ str        ┆ str            ┆ f32   ┆   ┆ f32       ┆ i16    ┆ i16       ┆ str            │
╞══════╪════════════╪════════════════╪═══════╪═══╪═══════════╪════════╪═══════════╪════════════════╡
│ 1985 ┆ Alfa Romeo ┆ Spider Veloce  ┆ 2.0   ┆ … ┆ 14.167143 ┆ 19     ┆ 25        ┆ Tue Jan 01     │
│      ┆            ┆ 2000           ┆       ┆   ┆           ┆        ┆           ┆ 00:00:00 EST   │
│      ┆            ┆                ┆       ┆   ┆           ┆        ┆           ┆ 2013           │
│ 1985 ┆ Ferrari    ┆ Testarossa     ┆ 4.9   ┆ … ┆ 27.046364 ┆ 9      ┆ 14        ┆ Tue Jan 01     │
│      ┆            ┆                ┆       ┆   ┆           ┆        ┆           ┆ 00:00:00 EST   │
│      ┆            ┆                ┆       ┆   ┆           ┆        ┆           ┆ 2013           │
│ 1985 ┆ Dodge      ┆ Charger        ┆ 2.2   ┆ … ┆ 11.018888 ┆ 23     ┆ 33        ┆ Tue Jan 01     │
│      ┆            ┆                ┆       ┆   ┆           ┆        ┆           ┆ 00:00:00 EST   │
│      ┆            ┆                ┆       ┆   ┆           ┆        ┆           ┆ 2013           │
│ 1985 ┆ Dodge      ┆ B150/B250      ┆ 5.2   ┆ … ┆ 27.046364 ┆ 10     ┆ 12        ┆ Tue Jan 01     │
│      ┆            ┆ Wagon 2WD      ┆       ┆   ┆           ┆        ┆           ┆ 00:00:00 EST   │
│      ┆            ┆                ┆       ┆   ┆           ┆        ┆           ┆ 2013           │
│ 1993 ┆ Subaru     ┆ Legacy AWD     ┆ 2.2   ┆ … ┆ 15.658422 ┆ 17     ┆ 23        ┆ Tue Jan 01     │
│      ┆            ┆ Turbo          ┆       ┆   ┆           ┆        ┆           ┆ 00:00:00 EST   │
│      ┆            ┆                ┆       ┆   ┆           ┆        ┆           ┆ 2013           │
│ …    ┆ …          ┆ …              ┆ …     ┆ … ┆ …         ┆ …      ┆ …         ┆ …              │
│ 1993 ┆ Subaru     ┆ Legacy         ┆ 2.2   ┆ … ┆ 13.523182 ┆ 19     ┆ 26        ┆ Tue Jan 01     │
│      ┆            ┆                ┆       ┆   ┆           ┆        ┆           ┆ 00:00:00 EST   │
│      ┆            ┆                ┆       ┆   ┆           ┆        ┆           ┆ 2013           │
│ 1993 ┆ Subaru     ┆ Legacy         ┆ 2.2   ┆ … ┆ 12.935218 ┆ 20     ┆ 28        ┆ Tue Jan 01     │
│      ┆            ┆                ┆       ┆   ┆           ┆        ┆           ┆ 00:00:00 EST   │
│      ┆            ┆                ┆       ┆   ┆           ┆        ┆           ┆ 2013           │
│ 1993 ┆ Subaru     ┆ Legacy AWD     ┆ 2.2   ┆ … ┆ 14.167143 ┆ 18     ┆ 24        ┆ Tue Jan 01     │
│      ┆            ┆                ┆       ┆   ┆           ┆        ┆           ┆ 00:00:00 EST   │
│      ┆            ┆                ┆       ┆   ┆           ┆        ┆           ┆ 2013           │
│ 1993 ┆ Subaru     ┆ Legacy AWD     ┆ 2.2   ┆ … ┆ 14.167143 ┆ 18     ┆ 24        ┆ Tue Jan 01     │
│      ┆            ┆                ┆       ┆   ┆           ┆        ┆           ┆ 00:00:00 EST   │
│      ┆            ┆                ┆       ┆   ┆           ┆        ┆           ┆ 2013           │
│ 1993 ┆ Subaru     ┆ Legacy AWD     ┆ 2.2   ┆ … ┆ 16.528334 ┆ 16     ┆ 21        ┆ Tue Jan 01     │
│      ┆            ┆ Turbo          ┆       ┆   ┆           ┆        ┆           ┆ 00:00:00 EST   │
│      ┆            ┆                ┆       ┆   ┆           ┆        ┆           ┆ 2013           │
└──────┴────────────┴────────────────┴───────┴───┴───────────┴────────┴───────────┴────────────────┘

In [38]:
print(df_polars
.select(pl.col(cols))
.select(pl.col(pl.Float64))
.sample(n=10, seed=42)
)

shape: (10, 3)
┌───────┬───────────┬───────────┐
│ displ ┆ cylinders ┆ barrels08 │
│ ---   ┆ ---       ┆ ---       │
│ f64   ┆ f64       ┆ f64       │
╞═══════╪═══════════╪═══════════╡
│ 3.0   ┆ 6.0       ┆ 17.500588 │
│ 5.3   ┆ 8.0       ┆ 21.250714 │
│ 2.2   ┆ 4.0       ┆ 15.658421 │
│ 2.2   ┆ 4.0       ┆ 12.39625  │
│ 3.5   ┆ 6.0       ┆ 15.658421 │
│ 5.5   ┆ 8.0       ┆ 18.594375 │
│ 2.0   ┆ 4.0       ┆ 12.935217 │
│ 2.0   ┆ 4.0       ┆ 13.523182 │
│ 4.9   ┆ 6.0       ┆ 21.250714 │
│ 4.0   ┆ 8.0       ┆ 17.500588 │
└───────┴───────────┴───────────┘

In [40]:
print(df_polars
 .select(pl.col(cols))
 .with_columns(pl.col('year').cast(pl.Int16),
               pl.col('cylinders').cast(pl.UInt8),
               pl.col('highway08').cast(pl.UInt8),
               pl.col('city08').cast(pl.UInt8),
               pl.col('displ').cast(pl.Float32),
               pl.col('barrels08').cast(pl.Float32)
               ))

shape: (48_581, 13)
┌──────┬────────────┬────────────────┬───────┬───┬───────────┬────────┬───────────┬────────────────┐
│ year ┆ make       ┆ model          ┆ displ ┆ … ┆ barrels08 ┆ city08 ┆ highway08 ┆ createdOn      │
│ ---  ┆ ---        ┆ ---            ┆ ---   ┆   ┆ ---       ┆ ---    ┆ ---       ┆ ---            │
│ i16  ┆ str        ┆ str            ┆ f32   ┆   ┆ f32       ┆ u8     ┆ u8        ┆ str            │
╞══════╪════════════╪════════════════╪═══════╪═══╪═══════════╪════════╪═══════════╪════════════════╡
│ 1985 ┆ Alfa Romeo ┆ Spider Veloce  ┆ 2.0   ┆ … ┆ 14.167143 ┆ 19     ┆ 25        ┆ Tue Jan 01     │
│      ┆            ┆ 2000           ┆       ┆   ┆           ┆        ┆           ┆ 00:00:00 EST   │
│      ┆            ┆                ┆       ┆   ┆           ┆        ┆           ┆ 2013           │
│ 1985 ┆ Ferrari    ┆ Testarossa     ┆ 4.9   ┆ … ┆ 27.046364 ┆ 9      ┆ 14        ┆ Tue Jan 01     │
│      ┆            ┆                ┆       ┆   ┆           ┆        ┆           ┆ 00:00:00 EST   │
│      ┆            ┆                ┆       ┆   ┆           ┆        ┆           ┆ 2013           │
│ 1985 ┆ Dodge      ┆ Charger        ┆ 2.2   ┆ … ┆ 11.018888 ┆ 23     ┆ 33        ┆ Tue Jan 01     │
│      ┆            ┆                ┆       ┆   ┆           ┆        ┆           ┆ 00:00:00 EST   │
│      ┆            ┆                ┆       ┆   ┆           ┆        ┆           ┆ 2013           │
│ 1985 ┆ Dodge      ┆ B150/B250      ┆ 5.2   ┆ … ┆ 27.046364 ┆ 10     ┆ 12        ┆ Tue Jan 01     │
│      ┆            ┆ Wagon 2WD      ┆       ┆   ┆           ┆        ┆           ┆ 00:00:00 EST   │
│      ┆            ┆                ┆       ┆   ┆           ┆        ┆           ┆ 2013           │
│ 1993 ┆ Subaru     ┆ Legacy AWD     ┆ 2.2   ┆ … ┆ 15.658422 ┆ 17     ┆ 23        ┆ Tue Jan 01     │
│      ┆            ┆ Turbo          ┆       ┆   ┆           ┆        ┆           ┆ 00:00:00 EST   │
│      ┆            ┆                ┆       ┆   ┆           ┆        ┆           ┆ 2013           │
│ …    ┆ …          ┆ …              ┆ …     ┆ … ┆ …         ┆ …      ┆ …         ┆ …              │
│ 1993 ┆ Subaru     ┆ Legacy         ┆ 2.2   ┆ … ┆ 13.523182 ┆ 19     ┆ 26        ┆ Tue Jan 01     │
│      ┆            ┆                ┆       ┆   ┆           ┆        ┆           ┆ 00:00:00 EST   │
│      ┆            ┆                ┆       ┆   ┆           ┆        ┆           ┆ 2013           │
│ 1993 ┆ Subaru     ┆ Legacy         ┆ 2.2   ┆ … ┆ 12.935218 ┆ 20     ┆ 28        ┆ Tue Jan 01     │
│      ┆            ┆                ┆       ┆   ┆           ┆        ┆           ┆ 00:00:00 EST   │
│      ┆            ┆                ┆       ┆   ┆           ┆        ┆           ┆ 2013           │
│ 1993 ┆ Subaru     ┆ Legacy AWD     ┆ 2.2   ┆ … ┆ 14.167143 ┆ 18     ┆ 24        ┆ Tue Jan 01     │
│      ┆            ┆                ┆       ┆   ┆           ┆        ┆           ┆ 00:00:00 EST   │
│      ┆            ┆                ┆       ┆   ┆           ┆        ┆           ┆ 2013           │
│ 1993 ┆ Subaru     ┆ Legacy AWD     ┆ 2.2   ┆ … ┆ 14.167143 ┆ 18     ┆ 24        ┆ Tue Jan 01     │
│      ┆            ┆                ┆       ┆   ┆           ┆        ┆           ┆ 00:00:00 EST   │
│      ┆            ┆                ┆       ┆   ┆           ┆        ┆           ┆ 2013           │
│ 1993 ┆ Subaru     ┆ Legacy AWD     ┆ 2.2   ┆ … ┆ 16.528334 ┆ 16     ┆ 21        ┆ Tue Jan 01     │
│      ┆            ┆ Turbo          ┆       ┆   ┆           ┆        ┆           ┆ 00:00:00 EST   │
│      ┆            ┆                ┆       ┆   ┆           ┆        ┆           ┆ 2013           │
└──────┴────────────┴────────────────┴───────┴───┴───────────┴────────┴───────────┴────────────────┘

In [42]:
print(df_polars
 .with_columns('trany',
 is_automatic=pl.col('trany')
 .str.to_lowercase()
 .str.contains('automatic'))
 )

shape: (48_581, 85)
┌───────────┬────────────┬───────────┬───────────┬───┬──────────┬─────────┬──────────┬─────────────┐
│ barrels08 ┆ barrelsA08 ┆ charge120 ┆ charge240 ┆ … ┆ phevCity ┆ phevHwy ┆ phevComb ┆ is_automati │
│ ---       ┆ ---        ┆ ---       ┆ ---       ┆   ┆ ---      ┆ ---     ┆ ---      ┆ c           │
│ f64       ┆ f64        ┆ f64       ┆ f64       ┆   ┆ i64      ┆ i64     ┆ i64      ┆ ---         │
│           ┆            ┆           ┆           ┆   ┆          ┆         ┆          ┆ bool        │
╞═══════════╪════════════╪═══════════╪═══════════╪═══╪══════════╪═════════╪══════════╪═════════════╡
│ 14.167143 ┆ 0.0        ┆ 0.0       ┆ 0.0       ┆ … ┆ 0        ┆ 0       ┆ 0        ┆ false       │
│ 27.046364 ┆ 0.0        ┆ 0.0       ┆ 0.0       ┆ … ┆ 0        ┆ 0       ┆ 0        ┆ false       │
│ 11.018889 ┆ 0.0        ┆ 0.0       ┆ 0.0       ┆ … ┆ 0        ┆ 0       ┆ 0        ┆ false       │
│ 27.046364 ┆ 0.0        ┆ 0.0       ┆ 0.0       ┆ … ┆ 0        ┆ 0       ┆ 0        ┆ true        │
│ 15.658421 ┆ 0.0        ┆ 0.0       ┆ 0.0       ┆ … ┆ 0        ┆ 0       ┆ 0        ┆ false       │
│ …         ┆ …          ┆ …         ┆ …         ┆ … ┆ …        ┆ …       ┆ …        ┆ …           │
│ 13.523182 ┆ 0.0        ┆ 0.0       ┆ 0.0       ┆ … ┆ 0        ┆ 0       ┆ 0        ┆ true        │
│ 12.935217 ┆ 0.0        ┆ 0.0       ┆ 0.0       ┆ … ┆ 0        ┆ 0       ┆ 0        ┆ false       │
│ 14.167143 ┆ 0.0        ┆ 0.0       ┆ 0.0       ┆ … ┆ 0        ┆ 0       ┆ 0        ┆ true        │
│ 14.167143 ┆ 0.0        ┆ 0.0       ┆ 0.0       ┆ … ┆ 0        ┆ 0       ┆ 0        ┆ false       │
│ 16.528333 ┆ 0.0        ┆ 0.0       ┆ 0.0       ┆ … ┆ 0        ┆ 0       ┆ 0        ┆ true        │
└───────────┴────────────┴───────────┴───────────┴───┴──────────┴─────────┴──────────┴─────────────┘

In [44]:
print(df_polars.select(pl.col('trany').value_counts(sort=True)))

shape: (41, 1)
┌───────────────────────────┐
│ trany                     │
│ ---                       │
│ struct[2]                 │
╞═══════════════════════════╡
│ {"Automatic 4-spd",11048} │
│ {"Manual 5-spd",8392}     │
│ {"Automatic (S8)",3372}   │
│ {"Automatic (S6)",3361}   │
│ {"Automatic 3-spd",3151}  │
│ …                         │
│ {null,11}                 │
│ {"Automatic (AM-S9)",6}   │
│ {"Automatic (L4)",2}      │
│ {"Automatic (L3)",2}      │
│ {"Automatic (AM-S10)",2}  │
└───────────────────────────┘

In [45]:
print(df_polars
 .filter(pl.col('trany').is_null())
 .select('year', 'make', 'model', 'VClass','trany')
 )

shape: (11, 5)
┌──────┬────────┬────────────────────────┬─────────────────────────────┬───────┐
│ year ┆ make   ┆ model                  ┆ VClass                      ┆ trany │
│ ---  ┆ ---    ┆ ---                    ┆ ---                         ┆ ---   │
│ i64  ┆ str    ┆ str                    ┆ str                         ┆ str   │
╞══════╪════════╪════════════════════════╪═════════════════════════════╪═══════╡
│ 2000 ┆ Nissan ┆ Altra EV               ┆ Midsize Station Wagons      ┆ null  │
│ 2000 ┆ Toyota ┆ RAV4 EV                ┆ Sport Utility Vehicle - 2WD ┆ null  │
│ 2001 ┆ Toyota ┆ RAV4 EV                ┆ Sport Utility Vehicle - 2WD ┆ null  │
│ 2001 ┆ Ford   ┆ Th!nk                  ┆ Two Seaters                 ┆ null  │
│ 2001 ┆ Ford   ┆ Explorer USPS Electric ┆ Sport Utility Vehicle - 2WD ┆ null  │
│ …    ┆ …      ┆ …                      ┆ …                           ┆ …     │
│ 2002 ┆ Toyota ┆ RAV4 EV                ┆ Sport Utility Vehicle - 2WD ┆ null  │
│ 2002 ┆ Ford   ┆ Explorer USPS Electric ┆ Sport Utility Vehicle - 2WD ┆ null  │
│ 2003 ┆ Toyota ┆ RAV4 EV                ┆ Sport Utility Vehicle - 2WD ┆ null  │
│ 1984 ┆ Ford   ┆ F150 Pickup 2WD        ┆ Standard Pickup Trucks 2WD  ┆ null  │
│ 1984 ┆ GMC    ┆ C25 Pickup 2WD         ┆ Standard Pickup Trucks 2WD  ┆ null  │
└──────┴────────┴────────────────────────┴─────────────────────────────┴───────┘

In [47]:
#FILL null values in column
print(df_polars.select('trany',
                       is_automatic=pl.col('trany')
                       .str.contains('Automatic').fill_null(True))
)

shape: (48_581, 2)
┌─────────────────┬──────────────┐
│ trany           ┆ is_automatic │
│ ---             ┆ ---          │
│ str             ┆ bool         │
╞═════════════════╪══════════════╡
│ Manual 5-spd    ┆ false        │
│ Manual 5-spd    ┆ false        │
│ Manual 5-spd    ┆ false        │
│ Automatic 3-spd ┆ true         │
│ Manual 5-spd    ┆ false        │
│ …               ┆ …            │
│ Automatic 4-spd ┆ true         │
│ Manual 5-spd    ┆ false        │
│ Automatic 4-spd ┆ true         │
│ Manual 5-spd    ┆ false        │
│ Automatic 4-spd ┆ true         │
└─────────────────┴──────────────┘

In [48]:
#extarct num of gears in trany column and check where it is null
print(df_polars
 .select(num_gears=pl.col('trany')
 .str.extract(r'(\d+)')
 .cast(pl.UInt8))
 .filter(pl.col('num_gears').is_null())
)

shape: (1_155, 1)
┌───────────┐
│ num_gears │
│ ---       │
│ u8        │
╞═══════════╡
│ null      │
│ null      │
│ null      │
│ null      │
│ null      │
│ …         │
│ null      │
│ null      │
│ null      │
│ null      │
│ null      │
└───────────┘

In [49]:
print(df_polars.with_columns(
      is_automatic=pl.col('trany')
                   .str.contains('Automatic')
                   .fill_null(True),
      num_gears=pl.col('trany')
                   .str.extract(r'(\d+)')
                   .cast(pl.UInt8)
                   .fill_null(6)
 )
 )

shape: (48_581, 86)
┌───────────┬────────────┬───────────┬───────────┬───┬─────────┬──────────┬────────────┬───────────┐
│ barrels08 ┆ barrelsA08 ┆ charge120 ┆ charge240 ┆ … ┆ phevHwy ┆ phevComb ┆ is_automat ┆ num_gears │
│ ---       ┆ ---        ┆ ---       ┆ ---       ┆   ┆ ---     ┆ ---      ┆ ic         ┆ ---       │
│ f64       ┆ f64        ┆ f64       ┆ f64       ┆   ┆ i64     ┆ i64      ┆ ---        ┆ u8        │
│           ┆            ┆           ┆           ┆   ┆         ┆          ┆ bool       ┆           │
╞═══════════╪════════════╪═══════════╪═══════════╪═══╪═════════╪══════════╪════════════╪═══════════╡
│ 14.167143 ┆ 0.0        ┆ 0.0       ┆ 0.0       ┆ … ┆ 0       ┆ 0        ┆ false      ┆ 5         │
│ 27.046364 ┆ 0.0        ┆ 0.0       ┆ 0.0       ┆ … ┆ 0       ┆ 0        ┆ false      ┆ 5         │
│ 11.018889 ┆ 0.0        ┆ 0.0       ┆ 0.0       ┆ … ┆ 0       ┆ 0        ┆ false      ┆ 5         │
│ 27.046364 ┆ 0.0        ┆ 0.0       ┆ 0.0       ┆ … ┆ 0       ┆ 0        ┆ true       ┆ 3         │
│ 15.658421 ┆ 0.0        ┆ 0.0       ┆ 0.0       ┆ … ┆ 0       ┆ 0        ┆ false      ┆ 5         │
│ …         ┆ …          ┆ …         ┆ …         ┆ … ┆ …       ┆ …        ┆ …          ┆ …         │
│ 13.523182 ┆ 0.0        ┆ 0.0       ┆ 0.0       ┆ … ┆ 0       ┆ 0        ┆ true       ┆ 4         │
│ 12.935217 ┆ 0.0        ┆ 0.0       ┆ 0.0       ┆ … ┆ 0       ┆ 0        ┆ false      ┆ 5         │
│ 14.167143 ┆ 0.0        ┆ 0.0       ┆ 0.0       ┆ … ┆ 0       ┆ 0        ┆ true       ┆ 4         │
│ 14.167143 ┆ 0.0        ┆ 0.0       ┆ 0.0       ┆ … ┆ 0       ┆ 0        ┆ false      ┆ 5         │
│ 16.528333 ┆ 0.0        ┆ 0.0       ┆ 0.0       ┆ … ┆ 0       ┆ 0        ┆ true       ┆ 4         │
└───────────┴────────────┴───────────┴───────────┴───┴─────────┴──────────┴────────────┴───────────┘

In [58]:
#now convert string columns into categorical
pl.enable_string_cache()
with pl.StringCache():#StringCache context manager to ensure that the categorical mappings are the same across columns
 print(df_polars
 .select(pl.col(cols))
 .with_columns(pl.col('year').cast(pl.Int16),
               pl.col('cylinders').cast(pl.UInt8),
               pl.col('highway08').cast(pl.UInt8),
               pl.col('city08').cast(pl.UInt8),
               pl.col('displ').cast(pl.Float32),
               pl.col('barrels08').cast(pl.Float32),
               pl.col(['make', 'model', 'VClass', 'drive','fuelType']).cast(pl.Categorical),
               pl.col('createdOn').str.to_datetime('%a %b %d %H:%M:%S %Z %Y')#convert the createdOn column to a date
               ))

shape: (48_581, 13)
┌──────┬────────────┬────────────────┬───────┬───┬───────────┬────────┬───────────┬────────────────┐
│ year ┆ make       ┆ model          ┆ displ ┆ … ┆ barrels08 ┆ city08 ┆ highway08 ┆ createdOn      │
│ ---  ┆ ---        ┆ ---            ┆ ---   ┆   ┆ ---       ┆ ---    ┆ ---       ┆ ---            │
│ i16  ┆ cat        ┆ cat            ┆ f32   ┆   ┆ f32       ┆ u8     ┆ u8        ┆ datetime[μs]   │
╞══════╪════════════╪════════════════╪═══════╪═══╪═══════════╪════════╪═══════════╪════════════════╡
│ 1985 ┆ Alfa Romeo ┆ Spider Veloce  ┆ 2.0   ┆ … ┆ 14.167143 ┆ 19     ┆ 25        ┆ 2013-01-01     │
│      ┆            ┆ 2000           ┆       ┆   ┆           ┆        ┆           ┆ 00:00:00       │
│ 1985 ┆ Ferrari    ┆ Testarossa     ┆ 4.9   ┆ … ┆ 27.046364 ┆ 9      ┆ 14        ┆ 2013-01-01     │
│      ┆            ┆                ┆       ┆   ┆           ┆        ┆           ┆ 00:00:00       │
│ 1985 ┆ Dodge      ┆ Charger        ┆ 2.2   ┆ … ┆ 11.018888 ┆ 23     ┆ 33        ┆ 2013-01-01     │
│      ┆            ┆                ┆       ┆   ┆           ┆        ┆           ┆ 00:00:00       │
│ 1985 ┆ Dodge      ┆ B150/B250      ┆ 5.2   ┆ … ┆ 27.046364 ┆ 10     ┆ 12        ┆ 2013-01-01     │
│      ┆            ┆ Wagon 2WD      ┆       ┆   ┆           ┆        ┆           ┆ 00:00:00       │
│ 1993 ┆ Subaru     ┆ Legacy AWD     ┆ 2.2   ┆ … ┆ 15.658422 ┆ 17     ┆ 23        ┆ 2013-01-01     │
│      ┆            ┆ Turbo          ┆       ┆   ┆           ┆        ┆           ┆ 00:00:00       │
│ …    ┆ …          ┆ …              ┆ …     ┆ … ┆ …         ┆ …      ┆ …         ┆ …              │
│ 1993 ┆ Subaru     ┆ Legacy         ┆ 2.2   ┆ … ┆ 13.523182 ┆ 19     ┆ 26        ┆ 2013-01-01     │
│      ┆            ┆                ┆       ┆   ┆           ┆        ┆           ┆ 00:00:00       │
│ 1993 ┆ Subaru     ┆ Legacy         ┆ 2.2   ┆ … ┆ 12.935218 ┆ 20     ┆ 28        ┆ 2013-01-01     │
│      ┆            ┆                ┆       ┆   ┆           ┆        ┆           ┆ 00:00:00       │
│ 1993 ┆ Subaru     ┆ Legacy AWD     ┆ 2.2   ┆ … ┆ 14.167143 ┆ 18     ┆ 24        ┆ 2013-01-01     │
│      ┆            ┆                ┆       ┆   ┆           ┆        ┆           ┆ 00:00:00       │
│ 1993 ┆ Subaru     ┆ Legacy AWD     ┆ 2.2   ┆ … ┆ 14.167143 ┆ 18     ┆ 24        ┆ 2013-01-01     │
│      ┆            ┆                ┆       ┆   ┆           ┆        ┆           ┆ 00:00:00       │
│ 1993 ┆ Subaru     ┆ Legacy AWD     ┆ 2.2   ┆ … ┆ 16.528334 ┆ 16     ┆ 21        ┆ 2013-01-01     │
│      ┆            ┆ Turbo          ┆       ┆   ┆           ┆        ┆           ┆ 00:00:00       │
└──────┴────────────┴────────────────┴───────┴───┴───────────┴────────┴───────────┴────────────────┘

##wrap all this with function

In [59]:
@pl.StringCache()
def tweak_auto(df):
 cols = ['year', 'make', 'model', 'displ', 'cylinders', 'trany',
 'drive', 'VClass', 'fuelType', 'barrels08', 'city08',
 'highway08', 'createdOn']
 return (df.select(pl.col(cols))
           .with_columns(pl.col('year').cast(pl.Int16),
             pl.col(['cylinders', 'highway08', 'city08']).cast(pl.UInt8),
             pl.col(['displ', 'barrels08']).cast(pl.Float32),
             pl.col(['make', 'model', 'VClass', 'drive','fuelType']).cast(pl.Categorical),
             pl.col('createdOn').str.to_datetime('%a %b %d %H:%M:%S %Z %Y'),
         is_automatic=pl.col('trany')
                        .str.contains('Automatic')
                        .fill_null('Automatic'),
         num_gears=pl.col('trany')
                     .str.extract(r'(\d+)')
                     .cast(pl.UInt8)
                     .fill_null(6))
 )

In [61]:
print(tweak_auto(df_polars))

shape: (48_581, 15)
┌──────┬────────────┬──────────────┬───────┬───┬───────────┬─────────────┬─────────────┬───────────┐
│ year ┆ make       ┆ model        ┆ displ ┆ … ┆ highway08 ┆ createdOn   ┆ is_automati ┆ num_gears │
│ ---  ┆ ---        ┆ ---          ┆ ---   ┆   ┆ ---       ┆ ---         ┆ c           ┆ ---       │
│ i16  ┆ cat        ┆ cat          ┆ f32   ┆   ┆ u8        ┆ datetime[μs ┆ ---         ┆ u8        │
│      ┆            ┆              ┆       ┆   ┆           ┆ ]           ┆ str         ┆           │
╞══════╪════════════╪══════════════╪═══════╪═══╪═══════════╪═════════════╪═════════════╪═══════════╡
│ 1985 ┆ Alfa Romeo ┆ Spider       ┆ 2.0   ┆ … ┆ 25        ┆ 2013-01-01  ┆ false       ┆ 5         │
│      ┆            ┆ Veloce 2000  ┆       ┆   ┆           ┆ 00:00:00    ┆             ┆           │
│ 1985 ┆ Ferrari    ┆ Testarossa   ┆ 4.9   ┆ … ┆ 14        ┆ 2013-01-01  ┆ false       ┆ 5         │
│      ┆            ┆              ┆       ┆   ┆           ┆ 00:00:00    ┆             ┆           │
│ 1985 ┆ Dodge      ┆ Charger      ┆ 2.2   ┆ … ┆ 33        ┆ 2013-01-01  ┆ false       ┆ 5         │
│      ┆            ┆              ┆       ┆   ┆           ┆ 00:00:00    ┆             ┆           │
│ 1985 ┆ Dodge      ┆ B150/B250    ┆ 5.2   ┆ … ┆ 12        ┆ 2013-01-01  ┆ true        ┆ 3         │
│      ┆            ┆ Wagon 2WD    ┆       ┆   ┆           ┆ 00:00:00    ┆             ┆           │
│ 1993 ┆ Subaru     ┆ Legacy AWD   ┆ 2.2   ┆ … ┆ 23        ┆ 2013-01-01  ┆ false       ┆ 5         │
│      ┆            ┆ Turbo        ┆       ┆   ┆           ┆ 00:00:00    ┆             ┆           │
│ …    ┆ …          ┆ …            ┆ …     ┆ … ┆ …         ┆ …           ┆ …           ┆ …         │
│ 1993 ┆ Subaru     ┆ Legacy       ┆ 2.2   ┆ … ┆ 26        ┆ 2013-01-01  ┆ true        ┆ 4         │
│      ┆            ┆              ┆       ┆   ┆           ┆ 00:00:00    ┆             ┆           │
│ 1993 ┆ Subaru     ┆ Legacy       ┆ 2.2   ┆ … ┆ 28        ┆ 2013-01-01  ┆ false       ┆ 5         │
│      ┆            ┆              ┆       ┆   ┆           ┆ 00:00:00    ┆             ┆           │
│ 1993 ┆ Subaru     ┆ Legacy AWD   ┆ 2.2   ┆ … ┆ 24        ┆ 2013-01-01  ┆ true        ┆ 4         │
│      ┆            ┆              ┆       ┆   ┆           ┆ 00:00:00    ┆             ┆           │
│ 1993 ┆ Subaru     ┆ Legacy AWD   ┆ 2.2   ┆ … ┆ 24        ┆ 2013-01-01  ┆ false       ┆ 5         │
│      ┆            ┆              ┆       ┆   ┆           ┆ 00:00:00    ┆             ┆           │
│ 1993 ┆ Subaru     ┆ Legacy AWD   ┆ 2.2   ┆ … ┆ 21        ┆ 2013-01-01  ┆ true        ┆ 4         │
│      ┆            ┆ Turbo        ┆       ┆   ┆           ┆ 00:00:00    ┆             ┆           │
└──────┴────────────┴──────────────┴───────┴───┴───────────┴─────────────┴─────────────┴───────────┘

#now check the size after all conversions and with out conversions

In [66]:
tweak_auto(df_polars).estimated_size(unit='mb')

2.9714279174804688

In [67]:
df_polars.select(pl.col(cols)).estimated_size(unit='mb')

7.043133735656738

In [69]:
#summary statistics
print(tweak_auto(df_polars).describe())

shape: (9, 16)
┌────────────┬─────────────┬───────┬───────┬───┬───────────┬─────────────┬─────────────┬───────────┐
│ statistic  ┆ year        ┆ make  ┆ model ┆ … ┆ highway08 ┆ createdOn   ┆ is_automati ┆ num_gears │
│ ---        ┆ ---         ┆ ---   ┆ ---   ┆   ┆ ---       ┆ ---         ┆ c           ┆ ---       │
│ str        ┆ f64         ┆ str   ┆ str   ┆   ┆ f64       ┆ str         ┆ ---         ┆ f64       │
│            ┆             ┆       ┆       ┆   ┆           ┆             ┆ str         ┆           │
╞════════════╪═════════════╪═══════╪═══════╪═══╪═══════════╪═════════════╪═════════════╪═══════════╡
│ count      ┆ 48581.0     ┆ 48581 ┆ 48581 ┆ … ┆ 48581.0   ┆ 48581       ┆ 48581       ┆ 48581.0   │
│ null_count ┆ 0.0         ┆ 0     ┆ 0     ┆ … ┆ 0.0       ┆ 0           ┆ 0           ┆ 0.0       │
│ mean       ┆ 2004.752413 ┆ null  ┆ null  ┆ … ┆ 25.970256 ┆ 2014-12-13  ┆ null        ┆ 5.349231  │
│            ┆             ┆       ┆       ┆   ┆           ┆ 09:38:57.13 ┆             ┆           │
│            ┆             ┆       ┆       ┆   ┆           ┆ 5917        ┆             ┆           │
│ std        ┆ 12.758499   ┆ null  ┆ null  ┆ … ┆ 11.439295 ┆ null        ┆ null        ┆ 1.753752  │
│ min        ┆ 1984.0      ┆ null  ┆ null  ┆ … ┆ 9.0       ┆ 2013-01-01  ┆ Automatic   ┆ 1.0       │
│            ┆             ┆       ┆       ┆   ┆           ┆ 00:00:00    ┆             ┆           │
│ 25%        ┆ 1993.0      ┆ null  ┆ null  ┆ … ┆ 20.0      ┆ 2013-01-01  ┆ null        ┆ 4.0       │
│            ┆             ┆       ┆       ┆   ┆           ┆ 00:00:00    ┆             ┆           │
│ 50%        ┆ 2006.0      ┆ null  ┆ null  ┆ … ┆ 24.0      ┆ 2013-01-01  ┆ null        ┆ 5.0       │
│            ┆             ┆       ┆       ┆   ┆           ┆ 00:00:00    ┆             ┆           │
│ 75%        ┆ 2016.0      ┆ null  ┆ null  ┆ … ┆ 28.0      ┆ 2015-08-12  ┆ null        ┆ 6.0       │
│            ┆             ┆       ┆       ┆   ┆           ┆ 00:00:00    ┆             ┆           │
│ max        ┆ 2026.0      ┆ null  ┆ null  ┆ … ┆ 142.0     ┆ 2025-04-14  ┆ true        ┆ 10.0      │
│            ┆             ┆       ┆       ┆   ┆           ┆ 00:00:00    ┆             ┆           │
└────────────┴─────────────┴───────┴───────┴───┴───────────┴─────────────┴─────────────┴───────────┘

In [75]:
#.corr method returns a dataframe with the correlation coefficients.However, if a column has missing values, it will return NaN for that column
import polars.selectors as cs
print(tweak_auto(df_polars)
 .select(cs.numeric())
 .corr()
 .pipe(lambda x: x.insert_column(0, pl.Series('names', x.columns)))
)

shape: (7, 8)
┌───────────┬───────────┬───────┬───────────┬───────────┬───────────┬───────────┬───────────┐
│ names     ┆ year      ┆ displ ┆ cylinders ┆ barrels08 ┆ city08    ┆ highway08 ┆ num_gears │
│ ---       ┆ ---       ┆ ---   ┆ ---       ┆ ---       ┆ ---       ┆ ---       ┆ ---       │
│ str       ┆ f64       ┆ f64   ┆ f64       ┆ f64       ┆ f64       ┆ f64       ┆ f64       │
╞═══════════╪═══════════╪═══════╪═══════════╪═══════════╪═══════════╪═══════════╪═══════════╡
│ year      ┆ 1.0       ┆ NaN   ┆ NaN       ┆ -0.347701 ┆ 0.275523  ┆ 0.318163  ┆ 0.641837  │
│ displ     ┆ NaN       ┆ NaN   ┆ NaN       ┆ NaN       ┆ NaN       ┆ NaN       ┆ NaN       │
│ cylinders ┆ NaN       ┆ NaN   ┆ NaN       ┆ NaN       ┆ NaN       ┆ NaN       ┆ NaN       │
│ barrels08 ┆ -0.347701 ┆ NaN   ┆ NaN       ┆ 1.0       ┆ -0.733175 ┆ -0.813099 ┆ -0.017943 │
│ city08    ┆ 0.275523  ┆ NaN   ┆ NaN       ┆ -0.733175 ┆ 1.0       ┆ 0.967449  ┆ -0.252527 │
│ highway08 ┆ 0.318163  ┆ NaN   ┆ NaN       ┆ -0.813099 ┆ 0.967449  ┆ 1.0       ┆ -0.176308 │
│ num_gears ┆ 0.641837  ┆ NaN   ┆ NaN       ┆ -0.017943 ┆ -0.252527 ┆ -0.176308 ┆ 1.0       │
└───────────┴───────────┴───────┴───────────┴───────────┴───────────┴───────────┴───────────┘

In [ ]:
raw = pl.read_csv("/content/sample_data/vehicles.csv", null_values=['NA'])
autos = tweak_auto(raw)
print(autos)

In [77]:
#Adding new columns
print(autos.select(pl.col(['highway08', 'city08']),
                   mpg_ratio=(pl.col('highway08') / pl.col('city08')))
)

shape: (48_581, 3)
┌───────────┬────────┬───────────┐
│ highway08 ┆ city08 ┆ mpg_ratio │
│ ---       ┆ ---    ┆ ---       │
│ u8        ┆ u8     ┆ f64       │
╞═══════════╪════════╪═══════════╡
│ 25        ┆ 19     ┆ 1.315789  │
│ 14        ┆ 9      ┆ 1.555556  │
│ 33        ┆ 23     ┆ 1.434783  │
│ 12        ┆ 10     ┆ 1.2       │
│ 23        ┆ 17     ┆ 1.352941  │
│ …         ┆ …      ┆ …         │
│ 26        ┆ 19     ┆ 1.368421  │
│ 28        ┆ 20     ┆ 1.4       │
│ 24        ┆ 18     ┆ 1.333333  │
│ 24        ┆ 18     ┆ 1.333333  │
│ 21        ┆ 16     ┆ 1.3125    │
└───────────┴────────┴───────────┘

In [78]:
print(autos.with_columns(mpg_ratio=pl.col('highway08') / pl.col('city08')))

shape: (48_581, 16)
┌──────┬────────────┬──────────────┬───────┬───┬─────────────┬─────────────┬───────────┬───────────┐
│ year ┆ make       ┆ model        ┆ displ ┆ … ┆ createdOn   ┆ is_automati ┆ num_gears ┆ mpg_ratio │
│ ---  ┆ ---        ┆ ---          ┆ ---   ┆   ┆ ---         ┆ c           ┆ ---       ┆ ---       │
│ i16  ┆ cat        ┆ cat          ┆ f32   ┆   ┆ datetime[μs ┆ ---         ┆ u8        ┆ f64       │
│      ┆            ┆              ┆       ┆   ┆ ]           ┆ str         ┆           ┆           │
╞══════╪════════════╪══════════════╪═══════╪═══╪═════════════╪═════════════╪═══════════╪═══════════╡
│ 1985 ┆ Alfa Romeo ┆ Spider       ┆ 2.0   ┆ … ┆ 2013-01-01  ┆ false       ┆ 5         ┆ 1.315789  │
│      ┆            ┆ Veloce 2000  ┆       ┆   ┆ 00:00:00    ┆             ┆           ┆           │
│ 1985 ┆ Ferrari    ┆ Testarossa   ┆ 4.9   ┆ … ┆ 2013-01-01  ┆ false       ┆ 5         ┆ 1.555556  │
│      ┆            ┆              ┆       ┆   ┆ 00:00:00    ┆             ┆           ┆           │
│ 1985 ┆ Dodge      ┆ Charger      ┆ 2.2   ┆ … ┆ 2013-01-01  ┆ false       ┆ 5         ┆ 1.434783  │
│      ┆            ┆              ┆       ┆   ┆ 00:00:00    ┆             ┆           ┆           │
│ 1985 ┆ Dodge      ┆ B150/B250    ┆ 5.2   ┆ … ┆ 2013-01-01  ┆ true        ┆ 3         ┆ 1.2       │
│      ┆            ┆ Wagon 2WD    ┆       ┆   ┆ 00:00:00    ┆             ┆           ┆           │
│ 1993 ┆ Subaru     ┆ Legacy AWD   ┆ 2.2   ┆ … ┆ 2013-01-01  ┆ false       ┆ 5         ┆ 1.352941  │
│      ┆            ┆ Turbo        ┆       ┆   ┆ 00:00:00    ┆             ┆           ┆           │
│ …    ┆ …          ┆ …            ┆ …     ┆ … ┆ …           ┆ …           ┆ …         ┆ …         │
│ 1993 ┆ Subaru     ┆ Legacy       ┆ 2.2   ┆ … ┆ 2013-01-01  ┆ true        ┆ 4         ┆ 1.368421  │
│      ┆            ┆              ┆       ┆   ┆ 00:00:00    ┆             ┆           ┆           │
│ 1993 ┆ Subaru     ┆ Legacy       ┆ 2.2   ┆ … ┆ 2013-01-01  ┆ false       ┆ 5         ┆ 1.4       │
│      ┆            ┆              ┆       ┆   ┆ 00:00:00    ┆             ┆           ┆           │
│ 1993 ┆ Subaru     ┆ Legacy AWD   ┆ 2.2   ┆ … ┆ 2013-01-01  ┆ true        ┆ 4         ┆ 1.333333  │
│      ┆            ┆              ┆       ┆   ┆ 00:00:00    ┆             ┆           ┆           │
│ 1993 ┆ Subaru     ┆ Legacy AWD   ┆ 2.2   ┆ … ┆ 2013-01-01  ┆ false       ┆ 5         ┆ 1.333333  │
│      ┆            ┆              ┆       ┆   ┆ 00:00:00    ┆             ┆           ┆           │
│ 1993 ┆ Subaru     ┆ Legacy AWD   ┆ 2.2   ┆ … ┆ 2013-01-01  ┆ true        ┆ 4         ┆ 1.3125    │
│      ┆            ┆ Turbo        ┆       ┆   ┆ 00:00:00    ┆             ┆           ┆           │
└──────┴────────────┴──────────────┴───────┴───┴─────────────┴─────────────┴───────────┴───────────┘

In [84]:
#drop column from dataframe
print(autos.drop('createdOn').columns)

['year', 'make', 'model', 'displ', 'cylinders', 'trany', 'drive', 'VClass', 'fuelType', 'barrels08', 'city08', 'highway08', 'is_automatic', 'num_gears']

In [ ]:
 print(autos
 .select(pl.all()
 .exclude(['createdOn', 'barrels08'])
 .name.suffix('auto'))
 )

In [91]:
#renaming columns
final_cols = ['year', 'make', 'model', 'city_mpg', 'highway_mpg']
print(autos.with_columns(pl.col('city08').alias('city_mpg'), highway_mpg=pl.col('highway08')).select(final_cols))

shape: (48_581, 5)
┌──────┬────────────┬─────────────────────┬──────────┬─────────────┐
│ year ┆ make       ┆ model               ┆ city_mpg ┆ highway_mpg │
│ ---  ┆ ---        ┆ ---                 ┆ ---      ┆ ---         │
│ i16  ┆ cat        ┆ cat                 ┆ u8       ┆ u8          │
╞══════╪════════════╪═════════════════════╪══════════╪═════════════╡
│ 1985 ┆ Alfa Romeo ┆ Spider Veloce 2000  ┆ 19       ┆ 25          │
│ 1985 ┆ Ferrari    ┆ Testarossa          ┆ 9        ┆ 14          │
│ 1985 ┆ Dodge      ┆ Charger             ┆ 23       ┆ 33          │
│ 1985 ┆ Dodge      ┆ B150/B250 Wagon 2WD ┆ 10       ┆ 12          │
│ 1993 ┆ Subaru     ┆ Legacy AWD Turbo    ┆ 17       ┆ 23          │
│ …    ┆ …          ┆ …                   ┆ …        ┆ …           │
│ 1993 ┆ Subaru     ┆ Legacy              ┆ 19       ┆ 26          │
│ 1993 ┆ Subaru     ┆ Legacy              ┆ 20       ┆ 28          │
│ 1993 ┆ Subaru     ┆ Legacy AWD          ┆ 18       ┆ 24          │
│ 1993 ┆ Subaru     ┆ Legacy AWD          ┆ 18       ┆ 24          │
│ 1993 ┆ Subaru     ┆ Legacy AWD Turbo    ┆ 16       ┆ 21          │
└──────┴────────────┴─────────────────────┴──────────┴─────────────┘

In [ ]:
#we can use rename also--accept dict mapping
print(autos
 .rename({'city08':'city_mpg',
 'highway08':'highway_mpg'})
 .select(final_cols))

##Joins

In [94]:
trucks = pl.DataFrame(
 {'make': ['Ford', 'Tesla', 'Chevy', 'Custom', 'Ford'],
 'model': ['F150', 'Cybertruck', 'Silverado', 'HotRod', 'F250'],
 'year': [2018, 2024, 2019, 1967, 2017],
 'city_mpg': [19, None, 17, 12, 18],
 })
print(trucks)

shape: (5, 4)
┌────────┬────────────┬──────┬──────────┐
│ make   ┆ model      ┆ year ┆ city_mpg │
│ ---    ┆ ---        ┆ ---  ┆ ---      │
│ str    ┆ str        ┆ i64  ┆ i64      │
╞════════╪════════════╪══════╪══════════╡
│ Ford   ┆ F150       ┆ 2018 ┆ 19       │
│ Tesla  ┆ Cybertruck ┆ 2024 ┆ null     │
│ Chevy  ┆ Silverado  ┆ 2019 ┆ 17       │
│ Custom ┆ HotRod     ┆ 1967 ┆ 12       │
│ Ford   ┆ F250       ┆ 2017 ┆ 18       │
└────────┴────────────┴──────┴──────────┘

In [95]:
manufacturer = pl.DataFrame(
 {'name': ['Ford', 'Tesla', 'Chevy', 'Toyota'],
 'country': ['USA', 'USA', 'USA', 'Japan'],
 'founded': [1903, 2003, 1911, 1937],
 'employees': [199_000, 48_000, 225_000, 370_000],
 'vehicles': [80, 3, 45, 30],
 })
print(manufacturer)

shape: (4, 5)
┌────────┬─────────┬─────────┬───────────┬──────────┐
│ name   ┆ country ┆ founded ┆ employees ┆ vehicles │
│ ---    ┆ ---     ┆ ---     ┆ ---       ┆ ---      │
│ str    ┆ str     ┆ i64     ┆ i64       ┆ i64      │
╞════════╪═════════╪═════════╪═══════════╪══════════╡
│ Ford   ┆ USA     ┆ 1903    ┆ 199000    ┆ 80       │
│ Tesla  ┆ USA     ┆ 2003    ┆ 48000     ┆ 3        │
│ Chevy  ┆ USA     ┆ 1911    ┆ 225000    ┆ 45       │
│ Toyota ┆ Japan   ┆ 1937    ┆ 370000    ┆ 30       │
└────────┴─────────┴─────────┴───────────┴──────────┘

In [96]:
print(manufacturer.join(trucks, how='left', left_on='name', right_on='make'))

shape: (5, 8)
┌────────┬─────────┬─────────┬───────────┬──────────┬────────────┬──────┬──────────┐
│ name   ┆ country ┆ founded ┆ employees ┆ vehicles ┆ model      ┆ year ┆ city_mpg │
│ ---    ┆ ---     ┆ ---     ┆ ---       ┆ ---      ┆ ---        ┆ ---  ┆ ---      │
│ str    ┆ str     ┆ i64     ┆ i64       ┆ i64      ┆ str        ┆ i64  ┆ i64      │
╞════════╪═════════╪═════════╪═══════════╪══════════╪════════════╪══════╪══════════╡
│ Ford   ┆ USA     ┆ 1903    ┆ 199000    ┆ 80       ┆ F150       ┆ 2018 ┆ 19       │
│ Ford   ┆ USA     ┆ 1903    ┆ 199000    ┆ 80       ┆ F250       ┆ 2017 ┆ 18       │
│ Tesla  ┆ USA     ┆ 2003    ┆ 48000     ┆ 3        ┆ Cybertruck ┆ 2024 ┆ null     │
│ Chevy  ┆ USA     ┆ 1911    ┆ 225000    ┆ 45       ┆ Silverado  ┆ 2019 ┆ 17       │
│ Toyota ┆ Japan   ┆ 1937    ┆ 370000    ┆ 30       ┆ null       ┆ null ┆ null     │
└────────┴─────────┴─────────┴───────────┴──────────┴────────────┴──────┴──────────┘

Polars doesn’t support how='right' in the .join method. Instead, we can
use how='left' and then swap the dataframes. (We will also need to swap the
left_on and right_on parameters.)

In [97]:
print(trucks.join(manufacturer, how='left', left_on='make', right_on='name'))

shape: (5, 8)
┌────────┬────────────┬──────┬──────────┬─────────┬─────────┬───────────┬──────────┐
│ make   ┆ model      ┆ year ┆ city_mpg ┆ country ┆ founded ┆ employees ┆ vehicles │
│ ---    ┆ ---        ┆ ---  ┆ ---      ┆ ---     ┆ ---     ┆ ---       ┆ ---      │
│ str    ┆ str        ┆ i64  ┆ i64      ┆ str     ┆ i64     ┆ i64       ┆ i64      │
╞════════╪════════════╪══════╪══════════╪═════════╪═════════╪═══════════╪══════════╡
│ Ford   ┆ F150       ┆ 2018 ┆ 19       ┆ USA     ┆ 1903    ┆ 199000    ┆ 80       │
│ Tesla  ┆ Cybertruck ┆ 2024 ┆ null     ┆ USA     ┆ 2003    ┆ 48000     ┆ 3        │
│ Chevy  ┆ Silverado  ┆ 2019 ┆ 17       ┆ USA     ┆ 1911    ┆ 225000    ┆ 45       │
│ Custom ┆ HotRod     ┆ 1967 ┆ 12       ┆ null    ┆ null    ┆ null      ┆ null     │
│ Ford   ┆ F250       ┆ 2017 ┆ 18       ┆ USA     ┆ 1903    ┆ 199000    ┆ 80       │
└────────┴────────────┴──────┴──────────┴─────────┴─────────┴───────────┴──────────┘